body {
    background-color: white; /* Set the background color of the body to black */
    color: black; /* Set the text color to white for better contrast */
  }
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.popup img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  } 

  .popup p {
    color: white; /* Text color */
    font-size: 18px; /* Adjust font size as needed */
    margin-top: 20px; /* Spacing between image and text */
  }
/* .custom-popup {
  max-width: 400px; /* Adjust the maximum width of the popup }*/ 


.custom-popup p {
  margin: 8px 0; /* Adjust the margin between paragraphs */
  line-height: 1.5; /* Adjust the line height */
}
  .header {
    background-color: black; /* Blue background color */
    color: #fff; /* White text color */
    padding: 20px 0; /* Add padding to the top and bottom */
  }
  
  .header h1 {
    font-size: 36px; /* Large font size for the main heading */
    margin-bottom: 10px; /* Add some space below the heading */
  }
  
  .header h2 {
    font-size: 24px; /* Smaller font size for the subheading */
  }
  
  /* Body content styles */
  .body-content {
    padding: 20px 0; /* Add padding to the top and bottom */
  }
  
  .body-content h3 {
    font-size: 24px; /* Font size for subheadings in the body content */
  }
  
  .body-content p {
    font-size: 16px; /* Font size for paragraphs in the body content */
    line-height: 1.6; /* Increase line height for better readability */
  }
  /* Custom button color */
  .header.btn-custom {
    background-color: orange; /* Custom color */
    border-color: #ff7f0e; /* Border color same as background */
    color: black; /* Text color */
  }
  
  /* Specificity increased for hover effect */
  .header.btn-custom:hover {
    background-color: #e65f00; /* Darker shade on hover */
    border-color: #e65f00;
    color: #fff;
  }

  /* Global button styles */
.btn {
  display: inline-block;
  padding: 5px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
  background-color: #9575cd;
  color: black;
}

/* Active button style */
.btn.active {
  background-color: red;
  color: black;
}

/* Hover effect for all buttons */
.btn:hover {
  background-color: purple;
  color: black;
}
.background-image {
  background-image: url("https://assets.newatlas.com/dims4/default/c075c21/2147483647/strip/true/crop/1737x1158+0+0/resize/720x480!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2F1e%2Fed%2F514a2fcf49c0ae72e3b5cd31d3da%2Fdepositphotos-648159700-l.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 
}

